:root {
  --color-white: oklch(1 0 0);
  --color-black: oklch(0.2 0.02 284.22);
  --color-black-soft: #212131;
  --color-black-hard: oklch(0.15 0.02 284.25 / 0.5);
  --color-black-middle: #323247;
  --color-gray-hard: #50506A;
  --color-yellow: #FFD98F;

  --duration: 0.16s ease-in-out;
}

@media (prefers-color-scheme: dark) {}