.slide-enter-active {
  opacity: 0;
  transform: translateX(-100px);
  /* transform-origin: center; */
  transition: opacity .0s ease-in, transform .1s ease-in;
}

.slide-leave-active {
  transform: translateX(100px);
  /* position: absolute; */
  opacity: 0;
  /* opacity: 0; */
  transition: opacity .1s ease-in, transform .1s ease-in;
  /* transform-origin: center; */
}

.slide-enter-to {
  opacity: 1;
  transform: translateX(0);
  /* transform-origin: left; */

  transition: opacity .16s ease-in, transform .1s ease-in;
}