.slide-enter-active {
  /* transform-origin: center; */
  /* transform: translateX(100px); */
  /* transition: opacity .8s ease-in, transform 2s ease-in; */
  animation: bounce-in 0.16s;
}

.slide-leave-active {
  /* transform: translateX(100px); */
  position: absolute;
  top: 0;
  opacity: 0;
  /* transition: opacity .16s ease-in, transform 2s ease-in; */
  animation: bounce-in 0.16s reverse;
}

.slide-leave-to {
  /* opacity: 0; */
  /* transform: translateX(-100px); */
  /* transition: opacity .16s ease-in, transform 2s ease-in; */
}

.fade-enter-from {
  /* opacity: 0; */
  /* transform: translateX(-100px); */
  /* transition: opacity .16s ease-in, transform 2s ease-in; */
}

/* .slide-enter-to {
  opacity: 1;
  transform: translateX(100px);
  transition: opacity .16s ease-in, transform 2s ease-in;
} */

@keyframes bounce-in {
  0% {
    /* transform: scale(0); */
    transform: translateX(-100px);
    /* opacity: 0; */
  }

  50% {
    /* transform: scale(1.1); */
    /* opacity: 1; */
  }

  100% {
    transform: translateX(0);
    /* transform: scale(1); */
    /* opacity: 1; */
  }
}